/node_modules
.DS_Store
findMyBanana/findMyBanana.xcodeproj/project.xcworkspace/xcuserdata/majadrinovac.xcuserdatad/UserInterfaceState.xcuserstate
findMyBanana/findMyBanana.xcodeproj/xcuserdata/majadrinovac.xcuserdatad/xcschemes/xcschememanagement.plist
